<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
	    http://www.springframework.org/schema/util/spring-util.xsd">

    <!--配置IOC实例化扫描路径-->
    <context:component-scan base-package="com.pwj.jxzs">
        <!--只让MVC扫描表现层实现类-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--读取文件存储路径配置信息-->
 <!--   <util:properties id="properties" location="classpath:path.properties"/>-->

    <!-- 处理请求参数 -->
    <mvc:annotation-driven/>

    <!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 配置文件上传 -->
    <!--   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!-- 默认编码 -->
    <!--     <property name="defaultEncoding" value="utf-8" />-->
    <!-- 文件大小最大值 -->
    <!--<property name="maxUploadSize" value="10485760000" />-->
    <!--  <property name="maxUploadSize" value="31457280" />-->
    <!-- 内存中的最大值 -->
    <!--  <property name="maxInMemorySize" value="40960" />
  </bean>-->

</beans>